<div class="row">
    <h2 id="page-heading">
        <span jhiTranslate="wi4SolutionsApp.asterisk.home.title">Asterisk</span>
    </h2>
    <jhi-alert></jhi-alert>
</div>
<div class="row">
  <div class="col-sm">
    <span>Test Calls</span>
  </div>
  <div class="col-sm">
      <form name="editForm" novalidate role="form" (ngSubmit)="sendTest()" #editForm="ngForm">
          <jhi-alert-success></jhi-alert-success>
          <jhi-alert-error></jhi-alert-error>
          <div class="form-group">
            <!--  <label class="form-control-label" jhiTranslate="wi4SolutionsApp.asterisk.phoneNumber" for="field_phoneNumber">phoneNumber</label>-->
              <input type="text" required class="form-control" name="phoneNumber" id="field_phoneNumber"  placeholder="Phone Number"
                  [(ngModel)]="phoneNumber" placeholder="SIP/02127350632/GOIP" />
          </div>
          <div>
            <button type="submit" id="send-call"  class="btn btn-primary" [disabled]="editForm.form.invalid">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.call">Call</span>
            </button>
          </div>
      </form>
  </div>
  <div class="col-sm">
    <div class="row">
    <button class="btn btn-danger float-right" (click)="restartAsterisk()">
        <fa-icon [icon]="'sync'"></fa-icon> <span jhiTranslate="metrics.restart-asterisk.button">Restart Asterisk</span>
    </button>
    <button class="btn btn-warning float-right" (click)="reloadAsterisk()">
        <fa-icon [icon]="'sync'"></fa-icon> <span jhiTranslate="metrics.reload-asterisk.button">Reload Asterisk</span>
    </button>
    </div>
    <div class="row">

      <div style="width:100%; margin-top:20px;">
          <ngb-progressbar id="asterisk-progressbar" type="success" [max]="100" [value]="counter" [striped]="false" [animated]="false" >
              <span></span>
          </ngb-progressbar>
     </div>
    </div>
  </div>
</div>
